@import "~antd/dist/antd.css";

.ant-layout {
  min-height: 100vh;
}

.ant-layout-sider {
  background-image: linear-gradient(#1e2422, #000000);
  background-attachment: fixed;
  width: 800px;
  padding: 30px;
}

.ant-layout-content {
  background-image: linear-gradient(#494b4a, #030404);
  background-attachment: fixed;
}

.ant-layout-footer {
  background-color: #292929;
  padding-bottom: 4px;
  padding-top: 15px;
}

.ant-tabs-top > .ant-tabs-nav::before {
  border-bottom: 0px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white;
  text-shadow: 0 0 0.25px currentcolor;
}

.ant-tabs-tab-btn:focus {
  color: white;
}

.ant-tabs-tab {
  color: rgb(125, 125, 125);
  font-size: 18px;
  letter-spacing: 2px;
}

.ant-tabs-tab:hover {
  color: white;
}

.ant-tabs-ink-bar {
  background: #1db954;
  width: 10px;
}

.ant-slider-track {
  background-color: #1db954;
}

.ant-slider:hover .ant-slider-track {
  background-color: #1db954;
}

.ant-slider-handle {
  border: 0px;
}

.ant-slider-rail {
  background-color: #3e3e3e;
}
.dropzone {
  cursor: pointer;
  color: white;
  border: 1px dashed white;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.dropzoneSong {
  margin-top: 1rem;
  cursor: pointer;
  color: white;
  border: 1px dashed white;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}

.logo {
  width: 50px;
  margin-bottom: 20px;
  cursor: pointer;
}

.login {
  position: absolute;
  margin-top: 25px;
  text-align: center;
  width: calc(100% - 60px);
}

.login > button {
  background-color: #1db954;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  padding: 5px 15px;
}

.searchBar {
  border-top: 2px solid rgb(125, 125, 125);
  border-bottom: 2px solid rgb(125, 125, 125);
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.searchBar > span,
.searchBar > span:focus {
  background-color: unset !important;
  border: unset !important;
  box-shadow: unset !important;
}

.searchBar > span > input {
  background-color: unset !important;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

::placeholder {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.sideBar {
  color: white;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.5s;
}

.recentPlayed {
  border-top: 2px solid rgb(125, 125, 125);
  border-bottom: 2px solid rgb(125, 125, 125);
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 500px);
}

.recentTitle {
  color: rgb(125, 125, 125);
  font-size: 15px;
  font-weight: 400;
}

.install {
  display: flex;
  justify-content: space-between;
}

.contentWindow {
  padding: 50px 0px;
  max-height: 100vh;
  overflow: auto;
  
  position: relative;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #292929;
  color: rgb(205, 203, 203) !important;
}

.contentWindow::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.contentWindow::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.contentWindow::-webkit-scrollbar-thumb {
  background: #1db954;
  border-radius: 10px;
}

/* Handle on hover */
.contentWindow::-webkit-scrollbar-thumb:hover {
  background: #1db954;
}

@media only screen and (max-width: 800px) {
  .sideBar {
    padding: 15px;
  }
  .ant-layout-footer{
    padding: 10px;
  }
  .footer {
    flex-wrap: wrap;
  }
} 
